.container {
  margin-bottom: 5%;
}
.carousel {
  background-color: #fceae8;
  border-radius: 10px;
}
.carousel-item {
  padding: 20px 40px;
}
.price {
  color: #ff136f;
}
.Buy-now-button {
  background-color: rgb(172, 7, 125);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
.cat1 {
  background-color: orange;
  padding: 10px 30px;
  color: white;
  border-radius: 15px;
}
.cat2 {
  background-color: orchid;
  padding: 10px 30px;
  color: white;
  border-radius: 15px;
}
.cat3 {
  background-color: blue;
  padding: 10px 30px;
  color: white;
  border-radius: 15px;
}
.catagories img {
  width: 100px;
}
.card {
  border: none;
  box-shadow: 5px 5px 10px lightslategray;
}
.orange-bg {
  background-color: #fceae8;
}
.subscribe {
  height: 300px;
  background-color: #fceae8;
}
footer p {
  text-align: center;
  color: gray;
}
